:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  text-align: center;
  background:linear-gradient(60deg,#1c0e9d,#39c0ea);
  background-attachment: scroll;
}

.card-area{
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin-top: 20vh;
  margin-left: 1.5rem;
  background-color: #ffffff;
  width: 250px;
  border-radius: 20px;
}
.plan{
  color: slategrey;
  font-weight: 700;
  margin-bottom: 30px;
}
.price{
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 40px;

}
.feature,.nofeature{
  text-align:justify;
  font-size: small;
  font-weight: 600;
  padding-left: 5px;
}

.nofeature{
  opacity: 0.7;
}

.button{
  width: 230px;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  background-color: #007aff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.button:hover{
  background-color: #00ddff;
}
.button:active{
  background-color: #007aff;
}

@media (max-width:700px){
  :root{
    height: 1600px;
    background:linear-gradient(85deg,#1c0e9d,#39c0ea);
  }
  .card-area{
    margin-top: 50px;
    margin-left: 5px;
  }
}
@media (max-width:960px){
  :root{
    height: 1900px;
    background:linear-gradient(85deg,#1c0e9d,#39c0ea);
  }
  .card-area{
    margin-top: 100px;
    margin-left: 40px;
  }
}
